<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
</head>
<body>
<h1>Create Contact</h1>
<form action="/book/create" method="post">
    <div>
        <label for="name">Name book</label>
        <input type="text" id="name" name="name" required th:value="${book.name}">
    </div>
    <div>
        <label for="author">Author</label>
        <input type="text" id="author" name="author" required th:value="${book.author}">
    </div>
    <div>
        <label for="namePublication">Publication</label>
        <input type="text" id="namePublication" name="namePublication" required th:value="${book.namePublication}">
    </div>
    <div>
        <label for="bookYear">Year</label>
        <input type="number" id="bookYear" name="bookYear" required th:value="${book.bookYear}">
    </div>
    <button type="submit">Save</button>
</form>
</body>
</html>